html {
  -webkit-overflow-scrolling: touch;
}
html[off] {
  transition: all 0.2s ease-in;
}

a {
  /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Header .container-lg div.flex-justify-between:first-child {
  width: 120px;
}
