@charset 'utf-8';
.title .github-avatar {
    position: absolute;
    left: 0;
    top: 6px;
    border-radius: 4px;
    width: 32px;
    height: 32px;
}

.news .alert .simple>.octicon {
    left: 27px !important;
    z-index: 10;
    top: 27px;
    text-shadow: #FFF -1px -1px 0px;
}

.news .alert:first-child .dashboard-event-icon {
    top: 27px!important;
}

.news .alert:first-child .body {
    padding: 1em 0 0!important;
}